/* Cabecera */
@media only screen and (max-width: 600px){
 li,ul{
   margin-left: -150px;
 }
#gris{
  margin-top: 8px;
}
#titulo{
  margin-top: 80px;
}
#desplegable{
  margin-left: 261px;
}
}

li{
  display: inline-block;
  position: relative;
  margin: 0 3px 0 0;
  padding: 0;
  margin-left: 170px;
  top: 8px;
}


li .dropbtn {
  display: inline-block;
  color: rgba(255,255,255,.5);
  padding: 14px 16px;
  text-decoration: none;
  position: relative;
  padding: 0;
  margin: 8px;
  right: 8px;
}



li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #343a40;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: rgba(255,255,255,.5);
}

.dropdown-content a {
  color: rgba(255,255,255,.5);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  display: block;
}

#googlefonts3{
  font-family: 'Lora', serif;
}

#imagen-insta{
  margin-top: 5px;
}

#logo{
  width: 40px;
  margin-top: -10px;
}


/* Col general */

#col-general{
  margin: 100px 60px 40px 0;
}


/* Columa Formulario */

#columna-formulario{
  width: 300px;
  height: 758px;
}

#titulo{
  color: black;
  text-align: left;
}

#contenedor {
  max-width: 820px;
  margin: 0px auto;
  margin-top: 100px;
}

.comment {
 float: left;
 width: 100%;
 height: auto;
}

.commenter {
  float: left;
}

.commenter img {
  width: 35px;
  height: 35px;
}

.comment-text-area {
  float: left;
  width: 100%;
  height: auto;
}

.textinput {
  float: left;
  width: 100%;
  min-height: 75px;
  outline: none;
  resize: none;
  border: 1px solid grey;
}

#nom,#apellido,#email,#telf{
   outline: 0;
   border-width: 0 0 2px;
   border-color: grey;
   width: 300px;
}

#button{
  color: white;
  background-color: green;
  width: 200px;
  height: 40px;
  border-style: none;
  border-radius: 25px;
  margin-top: 50px;
}

/* Footer */
footer{
  height: auto;
  background-color: #000;
  margin-top: 80px;
}

#col-footer{
  margin-top: 60px;
  color: white;
  margin-left: -100px;
}

#col2-footer{
  margin-top: 60px;
  color: white;
  margin-left: auto;
}


#desplazar{
  margin-top: 85px;
  color: white;
}

#phone{
 margin: 0 16px 0 0;
}


#mail{
  margin: 0 10px 0 0;
}

#maps{
  margin: 0 10px 0 0;
}

#ubi{
  margin: 0 16px 0 0;
}


#FontInsta{
  margin-top: 30px;
  font-size: 30px;
  margin: 10px;
  color: #c13584;
}

#FontFace{
  font-size: 30px;
  margin: 55px;
  color: #3b5998;
}

#FontTwitter{
  font-size: 30px;
  margin: 25px;
  color: #1da1f2;
}

#cmabioColor{
  color: white;
}

#h2Tae{
  color: white;
}
